<mat-toolbar color="primary">
      <span>Value Student Life</span>
      <span class="example-spacer"></span>
    <span>Test test</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <span>Logout</span>
      </button>
    </mat-menu>
</mat-toolbar>
 <nav mat-tab-nav-bar backgroundColor="primary" ngClass="tabs">
    <a mat-tab-link routerLink="/listings" routerLinkActive="active-link">Browse for Places</a>
    <a mat-tab-link routerLink="/likes" routerLinkActive="active-link">My Likes</a>
    <a mat-tab-link routerLink="/registration" routerLinkActive="active-link">Add a Sublease</a>
 </nav> 
