<header>Registration</header>
<mat-form-field appearance="fill" color="accent">
  <mat-label>Enter your first name</mat-label>
  <input matInput [(ngModel)]="userName">
</mat-form-field>
<br>
<mat-form-field appearance="fill" color="accent">
  <mat-label>Enter the address of the place</mat-label>
  <input matInput [(ngModel)]="userAddress">
</mat-form-field>
<br>
<mat-form-field appearance="fill" color="accent">
  <mat-label>Rent amt</mat-label>
  <input matInput [(ngModel)]="userRent">
</mat-form-field>
<br>
<mat-form-field appearance="fill" color="accent">
  <mat-label>Type of place?</mat-label>
  <input matInput [(ngModel)]="userType">
</mat-form-field>
<br>
<!--<mat-form-field appearance="fill" color="accent">
  <mat-label>Any notes to add?</mat-label>
  <textarea matInput></textarea>
</mat-form-field>-->
<br>
  <button mat-raised-button (click)="onAddListing()">Submit</button>

  
  
  