/* Google Maps config*/
#map{
    float:left;
    width: 60%;
    height: 855px;
    margin: 20px auto;
    margin-top: 25px;
    margin-left: 5px;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 120px 120px -1px rgba(0, 0, 0, 0.3);
  margin: 100px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: visible;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 100px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 10px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 150px;
  padding: 0 10px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

#floating-panel {
    position: relative;
    overflow: hidden;
    background-color: #333;
  }
  
#floating-panel a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  /* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.column {
  float: right;
  width: 35%;
  padding: 25px;
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 365px;
  right: 410px; 
  background-color: white;
  color: black;
  padding-left: 25px;
  padding-right: 20px;
}

* {box-sizing: border-box}


  input[type=text], input[type=password] {
  width: 70%;
  padding: 20px;
  margin: 10px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #fd0000;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: center;
  width: 30%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*Flex containter for the photos placement */


  /* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
  
  
